#landing-div {
   display: flex;
   flex-direction: column;
   text-align: center;
   margin-top: 50px;
}

form {
   margin: 0 auto;
}

.login-input {
   margin: 0 5px 0 5px;
   width: 350px;
}

#disclaimer {
   margin-top: 300px;
   font-size: 10px;
}
